.container {
  background-color: gray;
   width: 80%;
   display: flex;
   flex-direction: column;
}
#head {
  margin-left: 38%;
  grid-column-start: contentCol;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 5px 5px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}
