.container {
  background-color: aquamarine;
   width: 100%;
   display: grid;
   grid-template-columns: [left-gutter] 1fr [contentCol] 8fr [right-gutter] 1fr;
   grid-template-rows: [header] 1fr [contentRow] 3fr;

}
#head {
  margin-left: 38%;
  grid-column-start: contentCol;
}

.header {

  height: 200px;
  width: 100%;
  grid-column-start: contentCol;
  grid-row-start: header;
  justify-self: center;
}
.content {
  margin-left: 20%;
  width: 50%;
  justify-content: center;
  border: 5px solid black;
  grid-column-start: contentCol;
  grid-row-start: contentRow;
}
#list{

  box-sizing: content-box;
  grid-column-start: content;
  justify-self: center;
  min-height: 500px;
  max-height: 500px;
  width: 90%;
  min-width: 400px;
  max-width: 1000px;

  overflow: scroll;

  display: grid;
  align-items: center;
  grid-auto-rows: 50px;
  grid-gap: 15px;

}
.word_complete{
  text-decoration: line-through;
}
.list_item {
  width: 100%;
  height: auto;
  min-height: 40px;
  border: 1px solid black;


  display: grid;
  grid-template-columns: [col1] 50px [col2] 1fr [col3] 50px;
}
