.addItem {
background-color: blue;
grid-column-start: contentCol;
justify-self: center;
width: 100%;
min-width: 400px;

display: grid;
grid-template-columns: 1fr;
}

.addAToDo {
  border: 3px solid black;
background-color: #ffffa1;
box-sizing: content-box;
display: grid;
grid-template-columns: 1fr 50px 50px;
grid-auto-flow: column;
height: 40px;
padding-left: 50px;
}


.addAToDo input {
  cursor: text;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

}



.list_item:hover {
  background-color: rgba(0,0,0,.1);
  transition: background-color 0.05s ease-in;
}

.icon--deleteTrash {
  grid-column-start: col3;
}

.add__icon {
  padding: 10px;


  cursor: pointer;
  align-self: center;
  justify-self: center;

  transition: background-color 0.1s ease;

}

.addAToDo input[type=submit] {
  box-sizing: border-box;
  padding: 0px;
  width: 57.9px;
}
