/* a lot of my CSS styling ideas came from ideas presented by the code explained repo: https://github.com/codeexplainedrepo/To-Do-List */
.icon--add:hover {
  color: white;
  background-color: #57C873;

}

.icon--deleteTrash:hover{
  color: white;
  background-color: #FF4136;
}
.icon--trash:hover {

  color: white;
  background-color: #FF4136;
}


.item__text {
  line-height: 40px;
  margin-left: 15px;
}

.container {
  background-color: aquamarine;
   width: 100%;
   display: grid;
   grid-template-columns: [left-gutter] 1fr [contentCol] 8fr [right-gutter] 1fr;
   grid-template-rows: [header] 1fr [contentRow] 3fr;

}
#head {
  margin-left: 38%;
  grid-column-start: contentCol;
}

.header {

  height: 200px;
  width: 100%;
  grid-column-start: contentCol;
  grid-row-start: header;
  justify-self: center;
}
.content {
  margin-left: 20%;
  width: 50%;
  justify-content: center;
  border: 5px solid black;
  grid-column-start: contentCol;
  grid-row-start: contentRow;
}

.addItem {
background-color: blue;
grid-column-start: contentCol;
justify-self: center;
width: 100%;
min-width: 400px;

display: grid;
grid-template-columns: 1fr;
}

.addAToDo {
  border: 3px solid black;
background-color: #ffffa1;
box-sizing: content-box;
display: grid;
grid-template-columns: 1fr 50px 50px;
grid-auto-flow: column;
height: 40px;
padding-left: 50px;
}


.addAToDo input {
  cursor: text;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

}



.list_item:hover {
  background-color: rgba(0,0,0,.1);
  transition: background-color 0.05s ease-in;
}

.icon--deleteTrash {
  grid-column-start: col3;
}

.add__icon {
  padding: 10px;


  cursor: pointer;
  align-self: center;
  justify-self: center;

  transition: background-color 0.1s ease;

}

.addAToDo input[type=submit] {
  box-sizing: border-box;
  padding: 0px;
  width: 57.9px;
}
#list{

  box-sizing: content-box;
  grid-column-start: content;
  justify-self: center;
  min-height: 500px;
  max-height: 500px;
  width: 90%;
  min-width: 400px;
  max-width: 1000px;

  overflow: scroll;

  display: grid;
  align-items: center;
  grid-auto-rows: 50px;
  grid-gap: 15px;

}
.word_complete{
  text-decoration: line-through;
}
.list_item {
  width: 100%;
  height: auto;
  min-height: 40px;
  border: 1px solid black;


  display: grid;
  grid-template-columns: [col1] 50px [col2] 1fr [col3] 50px;
}
